<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dengjia.lib_share_asr">

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application>

        <service
            android:name=".ShareAsrService"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            >

        </service>

        <activity
            android:name=".ShareAsrActivity"
            >

        </activity>

    </application>

</manifest>